* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #f8f7f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 110px;
  border-bottom: 1px solid #e5e5e5;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-symbol {
  color: #c7a56a;
  font-size: 24px;
  font-weight: bold;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.lux,
.atolls {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 700;
}

.lux {
  color: #111;
}

.atolls {
  color: #c7a56a;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.nav-links li {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #444;
}

.arrow {
  font-size: 10px;
  margin-left: 5px;
}


.deals {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot,
.red-dot {
  width: 7px;
  height: 7px;
  background: #b84d3f;
  border-radius: 50%;
  display: inline-block;
}

.red-dot {
  margin-left: 6px;
}


.quote-btn {
  background: #b89a63;
  color: #fff;
  border: none;
  padding: 15px 28px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.quote-btn:hover {
  opacity: 0.9;
}



.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: #f8f7f4;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}


.resorts-menu {
  width: 900px;
  padding: 35px;
  display: flex;
  gap: 70px;
  align-items: flex-start;
}

.dropdown-column {
  min-width: 200px;
}

.dropdown-column h4 {
  font-size: 12px;
  letter-spacing: 3px;
  color: #777;
  margin-bottom: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-column a {
  display: block;
  text-decoration: none;
  color: #444;
  font-size: 15px;
  margin-bottom: 16px;
  transition: color 0.3s ease;
}

.dropdown-column a:hover {
  color: #b89a63;
}

.gold-link {
  color: #b89a63 !important;
  font-style: italic;
  margin-top: 10px;
}


.planning-menu {
  width: 230px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.planning-menu a {
  padding: 14px 24px;
  text-decoration: none;
  color: #444;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all 0.3s ease;
}

.planning-menu a:hover {
  background: #f1ede7;
  color: #b89a63;
}